.upper-row .btn {
  border-radius: 0px;
}
.upper-row .btn:focus {
  outline: none;
}
.upper-row input {
  border-radius: 0px;
}
.upper-row input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
}
.upper-row input:active {
  outline: none;
}
.threadContainer {
  padding-top: 5px;
  padding-bottom: 5px;
}
.threadContainer [class^='col'] {
  padding: 0px;
}
.threadContainer .avatar {
  background-color: #ccc;
  height: 90px;
}
.threadContainer .content {
  background-color: #1ab188;
  color: #fff;
}
.threadContainer .content .message {
  padding: 10px;
  min-height: 70px;
}
.threadContainer .content .time {
  padding: 5px;
}
.threadContainerOutgoing {
  padding-top: 5px;
  padding-bottom: 5px;
}
.threadContainerOutgoing [class^='col'] {
  padding: 0px;
}
.threadContainerOutgoing .avatar {
  background-color: #ccc;
  height: 90px;
}
.threadContainerOutgoing .content {
  background-color: #1ab188;
  color: #fff;
}
.threadContainerOutgoing .content .message {
  padding: 10px;
  min-height: 70px;
}
.threadContainerOutgoing .content .time {
  padding: 5px;
}
.threadFooter {
  padding-top: 20px;
}
.threadFooter hr {
  margin-top: 0px;
  border: 1px solid #bfbfbf;
}
.threadFooter .btn {
  margin-top: -60px;
}
.panel {
  border: 1px solid #1ab188;
  border-radius: 0px;
}
.panel .panel-heading {
  background-color: #1ab188 !important;
  background-image: none !important;
  border-radius: 0px !important;
  color: white;
}
.panel .panel-heading .userLink {
  color: #fff;
}
input,
textarea {
  border-radius: 0px !important;
}
textarea {
  resize: none;
}
.btn {
  border-radius: 0px !important;
}
.container {
  padding-bottom: 20px;
}
.optionContainer .avatar {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
[ng-cloak] {
  display: none;
}
