.upper-row{
	.btn{
		border-radius:0px;
		&:active{
			
		}
		&:focus{
			outline: none;
		}
	}

	input{
		border-radius:0px;

		&:focus{
			outline:none;
			box-shadow:none;
			border:1px solid #ccc;
		}
		&:active{
			outline:none;
		}
	}
}

.threadContainer{
	padding-top:5px;
	padding-bottom:5px;
	
	[class^='col']{
		padding:0px;
	}

	.avatar{
		background-color:#ccc;
		height:90px;
	}
	
	.content{
		background-color:#1ab188;
		color:#fff;
		.message{
			padding: 10px;
			min-height:70px;
			font-size:15px;
		}
		.time{
			padding: 10px;
		}
		.user{
			padding: 5px;
			margin:5px;
			border-bottom:1px dashed #ccc;
			font-weight: bold;
			font-size:17px;
			a{
				color:white;
			}
		}
	}
	
}

.threadContainerOutgoing{
	.threadContainer;
}

.threadFooter{
	padding-top:20px;
	hr{
		margin-top:0px;
		border:1px solid darken(#ccc,5%);
	}
	.btn{
		margin-top:-60px;
	}
}

.panel{
	border:1px solid #1ab188;
	border-radius:0px;

	.panel-heading{
		background-color: #1ab188 !important;
		background-image:none !important;
		border-radius:0px !important;
		color:white;
		.userLink{
			color:#fff;
		}
	}
}


input,textarea{
	border-radius:0px !important;
}

textarea{
	resize:none;
}

.btn{
	border-radius:0px !important;
}

.container{
	padding-bottom:20px;
}

.optionContainer{
	.avatar{
		width:30px;
		height:30px;
		margin-right:20px;
	}
}

[ng-cloak]{
	display:none;
}

.well{
	border-radius:0px;
}